@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
	--light: #f6f6f9;
	--primary: #1976d2;
	--light-primary: #cfe8ff;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #363949;
	--danger: #d32f2f;
	--light-danger: #fecdd3;
	--warning: #fbc02d;
	--light-warning: #fff2c6;
	--success: #388e3c;
	--light-success: #bbf7d0;
	--blue: #3b67a6;
	--white: #fff;
	--light-grey: #d3d3d3;
}	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	font-family: 'Poppins', sans-serif;*/
	font-family: 'Open Sans', sans-serif;	
/*	color: var(--dark);*/
}
a{
	text-decoration: none;
	color: var(--blue);
}
body{
	background: url('bas.png');
	   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
}
.menu{
	display: flex;
	position: fixed;
	top:50px;
	left: 0;
	z-index: 2000;
	overflow-x: hidden;
	width:320px;
	height: 100%;
	background: var(--white); !important;
	color: var(--blue);
	justify-content: center;
	align-items: center;
	border-right: 1px solid var(--light-grey);
	transition: all 0.3s ease;
	font-weight: 400;
	font-size: 17px;
}
.menu nav{
	width: 100%;
	height: 100%;
	align-items: center;
}
.menu nav div.logo{
	display: flex;
	width: 100%;
	margin: auto 10px auto 0;
	padding: 10px 0 10px 0;
}
.menu nav a.m{
	display: flex;
	width: 100%;
	padding: 10px 0 10px 10px ;
/*	border-radius: 20px 0 0 20px;*/
	margin:2px;
	align-items: center;
}
.menu nav a.m i.bx{
	padding-left: 7px;
	padding-right:15px;
	font-size: 25px;
}
.menu nav div.title{
	display: flex;
	width: 100%;
	align-items: center;
	padding: 10px 0 10px 10px ;
	margin:2px;
}
.menu nav div.title p{
	width: 100%;	
}
.menu nav div.title i.bx{
	padding-left: 7px;
	padding-right:15px;
	font-size: 25px;
}
.menu nav div.title i.s{
	text-align: right;
	font-size: 25px;
}
.menu nav div.m{
	user-select: none;
	cursor: pointer;
}
.menu nav div.m .child{
	background: var(--grey);
}
.menu nav div.m .child .item{
	padding: 5px 0 5px 57px;
	width: 100%;
	margin: 2px;
	height: 0%;
	transition: all 0.3s ease;
}
.menu nav div.m .child .item:hover{
	background: var(--dark-grey);
	transition: all 0.3s ease;
}
.menu nav a.m:hover{
	background: var(--grey);	
	transition: all 0.3s ease;
}
.menu nav div.title:hover{
	background: var(--grey);	
	transition: all 0.3s ease;
}
.bar{
	display: none;
	position: fixed;
	top:15px;
	left:20px;
	z-index: 3000;
	color: red;
}
@media only screen and (max-height: 876px){
	.menu nav a.m.e {
	margin-top:0;
	color:var(--danger);
	}	
}
.menu2{
	display: flex;
	position: fixed;
	top:0;
	left: 0;
	z-index: 2000;
	width: 100%;
	height: 50px;
	color: var(--blue);
	border-bottom: 1px solid var(--light-grey);
	background: var(--white); !important;
}
.menu2 nav{
	display: flex;
	text-align: center;
	 height: 100%;
	 align-items: center;
	 width: 100%;
}
.menu2 nav div.logo{
	user-select: none;
	display: inline-block;
	font-size: 20px;
	padding-right: 30px !important;
	padding-left: 20px;
}
.menu2 nav div.profile{
	display: flex;
	font-size: 20px;
	padding-left: 20px;
	margin-left: auto;
	align-items: center;
	float: right;
	height: 100%;
}
.menu2 nav div.profile:hover{
	background: var(--grey);
	cursor: pointer;
}
.menu2 nav div.child .item:hover{
	background: var(--grey);
}
.menu2 nav div.child .item a{
	width: 100%;
}
.menu2 nav div.profile .title{
	user-select: none;
	display: flex;
	font-size: 20px;
	align-items: center;
	font-size: 16px;
	padding-left: 20px;
	margin-left: auto;
	align-items: center;
	float: right;
	width: 100%;
}
.menu2 nav a.m{
	user-select: none;
	display: flex;
	height: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	transition: all 0.3s ease;
} 
.menu2 nav a.m:hover{
	background: var(--dark);
	color: var(--light);	
	transition: all 0.3s ease;
}  
.menu2 nav div.profile .title i.bx{
	user-select: none;
	padding-left: 7px;
	padding-right:15px;
	font-size: 25px;
	float: right;
}
.menu2 nav div.profile img{
	user-select: none;
	width: 35px;
	border-radius: 100px;
}
.menu2 nav div.child{
	user-select: none;
	padding: 5px;  
	position: fixed;
	right: 0;top:50px; 
	width: 220px; 
	background: var(--white); 
	border: 1px solid var(--light-grey);
}
.menu2 nav div.profile .title i.s{
	user-select: none;
	text-align: right;
	font-size: 25px;
}
@media only screen and (max-width: 876px){
	.menu2 nav a.m{
    display: none !important;
	}
	.menu2 nav div.logo{
		width: 100%;
		transition: all 0.3s ease;
	}
	.bar{
		display: flex;
	}
}
.content{
	margin: 80px 8% 20px 25%;
}
.content .banner{
	width: 100%;
	height: 260px;
	background: var(--white);
	border-radius: 10px;
	border: 1px solid var(--light-grey);
}
.content .banner-a{
	width: 100%;
	height: auto;
	background: var(--white);
	border-radius: 10px;
	border: 1px solid var(--light-grey);
}
.content .banner-a h2{
	color: var(--blue);
}
.content .block_news{
	display: inline-block;
	margin: 20px 20px 0 0 ;
	width: 72%;
	min-height: 260px;
	background: var(--white);
	border-radius: 10px;
	border: 1px solid var(--light-grey);
}
.content .block_news2{
	display: inline-block;
	margin: 20px 20px 0 0 ;
	padding: 10px;
	width: 72%;
	min-height: 500px;
	background: var(--white);
	border-radius: 10px;
	border: 1px solid var(--light-grey);
}
.content .block_news2 .header{
	font-size: 25px;
	text-align: center;
	padding: 10px;
	color: var(--blue);
}
.content .block_news2 .title{
	font-size: 22px;
	padding: 10px 20px 0 20px;
}
.content .block_news2 .created{
	font-size: 16px;
	padding: 5px 20px 10px 20px;
	color: var(--dark-grey);
}
.content .block_news2 .content_n{
	font-size: 18px;
	padding: 10px 20px 10px 20px;
	text-align: left;
}
.content .min-block{
	display: inline-block;
	float:right;
	margin: 20px 0 20px 0 ;
	width: 26%;
	height: auto;
}
.content .min-block .min-block-c1, .min-block-c3{
	height: 400px;
	background: var(--white);
	border-radius: 10px;
	border: 1px solid var(--light-grey);
}
.content .min-block .min-block-c1 .title, .min-block-c3 .title{
	padding: 20px;
	font-size: 20px;
	color: var(--blue);
	text-align: left;
}
.content .min-block .min-block-c1 .b-content, .min-block-c3 .b-content{
	padding: 20px;
	font-size: 20px;
	text-align: center;
}

.content .min-block .min-block-c3 .b-content .reward {
	display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 15px;
grid-row-gap: 16px;
margin-bottom: 10px;
}
.content .min-block .min-block-c3 .b-content .reward .text {
	color: var(--blue);
	font-size: 13px;
}
.content .min-block .min-block-c3 .b-content .reward img {
	width: 70px;
}
.content .min-block .min-block-c2{
	height: 300px;
	margin: 20px 0 20px 0 ;
	background: var(--white);
	border-radius: 10px;
	border: 1px solid var(--light-grey);
}
.content .min-block .min-block-c2 .title{
	padding: 20px;
	font-size: 20px;
	color: var(--blue);
	text-align: left;
}
.content .min-block .min-block-c2 .b-content{
	padding: 20px;
	font-size: 17px;
	text-align: center;
}
.content .block_news2 .actions{
	display: flex;
	width: 100%;
}
.content .labels {
	margin-top: 20px;
	background: var(--white);
	border: 1px solid var(--light-grey);
	border-radius: 10px ;
	display: flex;
	padding: 20px;
	width: 100%;
}
.content .notes{
	display: inline-block;
	margin: 20px 20px 0 0 ;
	width: 72%;
	min-height: 260px;
	background: var(--white);
	border-radius: 10px;
	border: 1px solid var(--light-grey);
}

.content .prof{
	background: var(--white);
	border: 1px solid var(--light-grey);
	border-radius: 10px ;
	display: flex;
	padding: 20px 10% 20px 10%;
	width: 100%;
}
.content .prof .prof-left{
	display: inline-block;
	margin: auto;
	max-width: 300px;
	float: left;
}
.content .prof .prof-left img{
	max-width: 250px;
	border-radius: 10px;
}
.content .prof .prof-right{
	display: inline;
	padding-left: 1%;
	width: 65%;
	float: right;	
}
.content .prof .prof-right p{
	color: var(--blue);
}
.content .prof .prof-right .info{
	padding-top: 20px;
}
.content .prof .prof-right .info .information{
	width: 80%;
}
.content .prof .prof-right .info .information div{
	padding-top: 2px;
}
.content .prof .prof-right .info .position{
	padding-bottom: 10px;
}

.btn{
	display: flex;
	margin: auto;
	min-width: 80px;
	min-height: 30px;
	padding: 5px;
	border: none;
	border-radius: 5px ;
	background: var(--primary);
	color: var(--light);
	float: right;
	margin-bottom: 10px;
}
.btn_n{
	display: flex;
	margin: 10px 0  10px 20px;
	min-width: 80px;
	min-height: 30px;
	padding: 5px;
	border: none;
	border-radius: 5px ;
	background: var(--primary);
	color: var(--light);
	float: left;
}
.btn-c{
	display: flex;
	min-width: 80px;
	min-height: 30px;
	padding: 5px;
	border: none;
	border-radius: 5px ;
	background: var(--primary);
	color: var(--light);
}
.btn-group{
	width: 100%;
	margin-bottom: 5px;
}
.btn1{
	display: inline-block;
	min-width: 25%;
	min-height: 40px;
	width: auto;
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: 1px solid var(--blue);
	border-radius: 5px 0 0 5px ;
	background: var(--primary);
	color: var(--light);
	float:left;
}
.btn2{
	display: inline-block;
	min-width: 25%;
	min-height: 40px;
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: 1px solid var(--blue);
	border-radius: 0 ;
	background: var(--primary);
	color: var(--light);
	float:left;
}
.btn3{
	display: inline-block;
	min-width: 25%;
	min-height: 40px;
	padding: 0;
	border: none;
	border-radius: 0 5px 5px 0 ;
	background: var(--primary);
	color: var(--light);
	float:left;
}
.btn1:hover, .btn2:hover, .btn3:hover, .btn:hover, .btn-c:hover, .btn_n:hover{
	cursor: pointer;
	background: var(--blue);
}
.textarea textarea.ta{
	box-sizing:border-box;
	min-width: 100%;
	min-height: 140px;
	max-height: 300px;
	border-radius: 10px;
	padding: 18px;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border:none;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.notes .note-pad .textarea textarea.ta {

}
.textarea{
	display: flex;
	width: 100%;
	height: 80%;
}
.notes .note-pad  form label.title-c1 {
	
	font-size: 18px;
	color: var(--blue);
	text-align: left;
}
.read-message {
	display: flex;
	position: relative;
	top: 50px;
	width: 100%;
	height: 40px;
	background: var(--dark);
	margin-bottom: 10px;
}
.read-message .message {
	width: 100%;
	color: var(--light);
	padding: 10px;
}