@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
	--light: #f6f6f9;
	--primary: #1976d2;
	--light-primary: #cfe8ff;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #363949;
	--danger: #d32f2f;
	--light-danger: #fecdd3;
	--warning: #fbc02d;
	--light-warning: #fff2c6;
	--success: #388e3c;
	--light-success: #bbf7d0;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.bx {
	font-size: 1.7rem;
}

a {
	text-decoration: none;
	color: var(--dark);
}

li {
	list-style: none;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #181a1e;
	--grey: #25252c;
	--dark: #fbfbfb;
}

body {
	background: var(--grey);
/*	overflow-x: hidden;*/
}
.menu {
	display: flex;
	position: fixed;
	top:50px;
	left: 0;
	z-index: 2000;
	overflow-x: hidden;
	width:72px;
	height: 100%;
	background: var(--dark);
	color: var(--light);
	justify-content: center;
	align-items: center;
	box-shadow: 3px 0 5px black;
	transition: all 0.3s ease;
}
.menu:hover{
	width: 250px;
	transition: all 0.3s ease;
}
.menu nav {
	width: 100%;
	height: 100%;
}
.menu nav div.logo {
	display: flex;
	width: 100%;
	margin: auto 20px auto 0;
	padding: 20px 0 20px 0;
}
.menu nav a.m {
	display: flex;
	width: 250px;
	color: var(--light);
	padding: 15px 0 15px 20px ;
	font-size: 20px;
	border-radius: 50px 0 0 50px;
	margin:2px;
}
.menu nav a.m i.bx {
	padding: 0 25px 0 0 ;
}
.menu nav a.m:hover {
	background: var(--grey);
	color: var(--dark);
	transition: all 0.3s ease;

}
.menu nav a.m.e {
	margin-top:400px;
	color:var(--danger);
	
}
@media only screen and (max-height: 876px) {
	.menu nav a.m.e {
	margin-top:0;
	color:var(--danger);
	}
}


.menu2 {
	display: flex;
	position: fixed;
	top:0;
	left: 0;
	z-index: 2000;
	width: 100%;
	background: var(--light);
	max-height: 50px;
/*	border-bottom: 1px solid var(--dark-grey);*/
	box-shadow: 3px 0 5px black;
}
.menu2 nav{
	display: flex;
	text-align: center;
	 height: 50px;
	 align-items: center;
	 width: 100%;
	 
}
.menu2 nav div.logo{
	display: inline-block;
	font-size: 20px;
	padding-right: 30px !important;
	padding-left: 20px;

}
.menu2 nav a.m {
	display: flex;
	height: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	transition: all 0.3s ease;
}  
.menu2 nav a.m:hover {
	background: var(--dark);
	color: var(--light);	
	border-bottom: 5px solid var(--primary);
	transition: all 0.3s ease;
}  
@media only screen and (max-width: 876px) {
	.menu2 nav a.m {
    display: none !important;
	}
	.menu2 nav div.logo{
		width: 100%;
		transition: all 0.3s ease;

}
}

.main-content {
	margin: 70px 20px 10px 100px;
	height: 100%;
}
.main-content .news-one {
	background: var(--light);
	width: 100%;
	height: 280px;

}
.main-content .news-one .head-banner {
	padding: 10px;
}
.main-content .news-one .head-banner img {
	object-fit: cover;
	width: 100%;
	height: 260px;

}
.main-content .blocks {
	margin-top: 10px;
	display: flex;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto ;
	grid-auto-flow: row;
	gap: 10px;
	justify-content: space-between;
	width: 100%;	
}
.main-content .news-blocks {
	margin-top: 10px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto ;
	grid-auto-flow: row;
	gap: 10px;
	justify-content: space-between;
	width: 100%;
}
.main-content .news-blocks .block, 
.main-content .blocks .block {
	display: inline-block;
	background: var(--light);
	color: var(--dark);
	margin: auto;
/*	width: 33%;*/
	
	height: auto;
	margin: 10px;

	
}
.main-content .news-blocks .block:hover, 
.main-content .blocks .block:hover {
	
	background: var(--dark);
	color: var(--light) !important;
	transition: all 0.3s ease;
	
}
.main-content .news-blocks .block .header-c, 
.main-content .blocks .block .header-c{
	
	padding: 10px;
	
	text-align: center;
}
.main-content .news-blocks .block .content, 
.main-content .blocks .block .content {
	display: flex;
	padding: 15px;
/*	height: 100%;*/
	text-align: center;
}
.main-content .news-blocks .block .footer , 
.main-content .blocks .block .footer{
	
}
.main-content .news-blocks .block .footer a, 
.main-content .blocks .block .footer a {
	display: flex;
	padding: 15px;
/*	height: 100%;*/
	text-align: center;
	color: var(--dark);

}

.main-content .news-blocks .block:hover .footer a, 
.main-content .blocks .block:hover .footer a {
	display: flex;
	
/*	height: 100%;*/
	text-align: left;
	color: var(--light);
	transition: all 0.3s ease;
}

.main-content .news-blocks .block .footer a:hover, 
.main-content .blocks .block .footer a:hover {
	padding-left:30%;
	width: 100%;
	text-align: center;
	color: var(--primary);
	transition: all 0.3s ease;
}

@media only screen and (max-width: 876px) {
	.main-content .news-blocks, .main-content .blocks {
		justify-content: none;
		display: inline-block;
	}
	.main-content .news-blocks .block, 
	.main-content .blocks .block {
		
		width: 100%;
	}
	.main-content .news-blocks .block:hover, 
	.main-content .blocks .block:hover {
		
		width: 100%;
	}
}
.main-content .title {
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
}


	
